.d-grid {
    display: grid;
}
.d-grid-index {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-auto-flow: column;
}

.d-grid-first {
    grid-template-columns: repeat(auto-fit, minmax(70px, auto));
}
.d-grid-second {
    grid-template-columns: repeat(auto-fill, minmax(70px, auto));
}
.d-grid-third {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
